<html>
    <head>
        <script type="text/javascript" src="/static/js/jquery.js"></script>
        <script type="text/javascript" src="/static/js/underscore.js"></script>
        <script type="text/javascript" src="/static/js/backbone.js"></script>
        <script type="text/javascript" src="/static/js/loader.js"></script>
        <script type="text/javascript" src="/static/js/index.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/css/index.css" />
    </head>
    <body>
        <ul id="concept-list"></ul>
        <hr />
        <ul id="instance-list"></ul>
        <div id="editor"></div>
        <a href="#" id="add-instance-link">Add</a>
    </body>

    <script type="text/html" id="concept-list-tmpl">
        <%= display_name %>
    </script>

    <script type="text/html" id="instance-list-tmpl">
        inst
    </script>

    <script type="text/html" id="pages-editor">
        <ul>
            <li>URL: <input class='url' name="url"/></li>
            <li>Body: <textarea class='body' name="body" /></textarea></li>
        </ul>
    </script>

    <script type="text/html" id="partials-editor">
        <ul>
            <li>Name: <input class='name'/></li>
            <li>Body: <textarea class='body'/></textarea></li>
        </ul>
    </script>

    <script type="text/html" id="models-editor">
        <ul class="tabs">
            <li><a class="tab" href="structure">Structure</a></li>
            <li><a class="tab" href="methods">Methods</a></li>
            <li><a class="tab" href="views">Views</a></li>
        </ul>

        <div class="structure section">
            Name: <input class="name" />
        </div>

        <div class="methods section">
            Foo: <input class="name" />
        </div>
    </script>
</html>
