<html>
    <head>
        <script type="text/javascript" src="/static/js/jquery.js"></script>
        <script type="text/javascript" src="/static/js/underscore.js"></script>
        <script type="text/javascript" src="/static/js/backbone.js"></script>
        <script type="text/javascript" src="/static/js/index.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/css/index.css" />
    </head>
    <body>
        <ul id="concept-list"></ul>
        <hr />
        <ul id="instance-list"></ul>
        <a href="#" id="add-instance-link">Add</a>
    </body>

    <script type="text/html" id="concept-list-tmpl">
        <%= display_name %>
    </script>

    <script type="text/html" id="instance-list-tmpl">
        <%= display_name %>
    </script>

    <script type="text/html" id="pages-editor">
        <h1>Hello world</h1>
    </script>
</html>
